:root {
    /*I created variables for the colors of my page*/
    --header: white;
    --titles: black;
    --background: maroon;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    background-color: var(--header);
  }
 
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: var(--background);
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
  }
  
  h1 {
    font-size: 200%;
    color: var(--header);
  }
  
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    color: var(--header);
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    align-items: flex-start;
  }
  
  nav a {
    background-color: var(--background);
    color: var(--header);
    font-weight: bold;
    text-decoration: none;
  }
  
  /*used hover so when hovering over the ul it changes colors */
  nav a:hover {
    color: var(--titles);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
  }
   
  footer {
    display: inline-block;
    background-color: var(--background);
    padding-top: 5px var(--titles);
  }

  input,
  select,
  option,
  optgroup,
  textarea,
  button,
  pre,
  code {
    font-size: 100%;
    font-family: inherit;
  }
  
  ol,
  ul {
    list-style: none;
  }

 